li.divider

li.heading Docs Versions
li= link_to "v0.6", "/docs/v0.6/introduction/overview.html"
li= link_to "v0.7", "/docs/v0.7/introduction/overview.html"
li= link_to "v0.8", "/docs/v0.8/introduction/overview.html"
