---
title: InfluxDB - Pricing For Managed Hosting
---

main
  section
    .row
      .large-10.columns
        h1 InfluxDB Managed Hosting
        p If you're running in a cloud environment or don't want to deal with the hassle of managing your own InfluxDB servers, we offer managed hosting to help you get up and running quickly. Servers are provisioned upon request, and we'll follow up with security credentials via email.
  section.plans
    .row.padding-bottom-large.padding-top-medium
      .large-12.columns
        .large-3.columns.block
          h3 Shared
          h4 $25
          h5 per month
          form action="/charge" method="POST"
            script.stripe-button src="https://checkout.stripe.com/checkout.js" data-key="pk_live_YqkcDTFvohavPUkSV9ZtI7oO" data-image="/images/influx-128.png" data-name="InfluxDB" data-description="Hosting - Shared ($25/mo)" data-amount="2500" data-label="Sign up now!"

          p 1GB Storage
          p Shared node
          p &ndash;
          hr
          p Email-Only Support

        .large-3.columns.block
          h3 Small Cluster
          h4 $200
          h5 per month
          form action="/charge" method="POST"
            script.stripe-button src="https://checkout.stripe.com/checkout.js" data-key="pk_live_YqkcDTFvohavPUkSV9ZtI7oO" data-image="/images/influx-128.png" data-name="InfluxDB" data-description="Hosting - Small Cluster ($200/mo)" data-amount="20000" data-label="Sign up now!"

          p 20GB Storage
          p 2 Nodes
          p Fully Redundant
          hr
          p Email and IM Support


        .large-3.columns.block
          h3 Medium Cluster
          h4 $500
          h5 per month
          form action="/charge" method="POST"
            script.stripe-button src="https://checkout.stripe.com/checkout.js" data-key="pk_live_YqkcDTFvohavPUkSV9ZtI7oO" data-image="/images/influx-128.png" data-name="InfluxDB" data-description="Hosting - Medium Cluster ($500/mo)" data-amount="50000" data-label="Sign up now!"

          p 120GB Storage
          p 6 Nodes
          p Fully Redundant
          hr
          p 7-5 Pacific Time Phone Support

        .large-3.columns.block
          h3 Large Cluster
          h4 Contact
          p= link_to "support@influxdb.com", "mailto:support@influxdb.com"

    .row
      .large-12.columns
        .panel
          .large-8.push-2
            h3 Want us to host something even bigger?
            p
              ' InfluxDB is designed to scale out to hundreds of nodes. Drop us a line at
              = link_to "support@influxdb.com", "mailto:support@influxdb.com"
              '  and let us know what you need.

section.newsletter
  .row
    .large-8.push-2.columns
      h3 Subscribe to our newsletter for updates!
      form action="http://errplane.us5.list-manage.com/subscribe/post?u=4d17b6adac2728b1ea6e4926b&amp;id=08af34971b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        .row.collapse
          .small-10.columns
            input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
          .small-2.columns
            input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button postfix"
