header
  .row
    .large-12.columns
      h1 An open-source distributed time series database with no external dependencies.
      h2 InfluxDB is the new home for all of your metrics, events, and analytics.

main.padding-bottom-medium
  section
    .row.padding-bottom-medium.padding-top-medium
      .large-4.columns.block
        i.fa.fa-clock-o.bordered
        h3 Time-Centric Functions
        p Everything in InfluxDB is a time series that you can perform standard functions on like min, max, sum, count, mean, median, percentiles, and more.
        a.button.tiny href="/docs/query_language/functions.html" Learn more &raquo;

      .large-4.columns.block
        i.fa.fa-tachometer.bordered
        h3 Scalable Metrics
        p Collect your data on any interval and compute rollups on the fly later. Track 100 metrics or 1 million &ndash; InfluxDB is designed to scale horizontally.
        a.button.tiny href="/docs" Learn more &raquo;

      .large-4.columns.block
        i.fa.fa-exclamation.bordered
        h3 Events
        p InfluxDB's data model supports arbitrary event data. Just write in a hash of associated data and count events, uniques, or grouped columns on the fly.
        a.button.tiny href="/docs" Learn more &raquo;

  hr.padding-bottom-small
  section
    .row.padding-bottom-medium.padding-top-medium
      .large-4.columns.block
        i.fa.fa-html5.bordered
        h3 Native HTTP API
        p Our built-in API makes it easy to read and write data from JavaScript. Build custom analytics frontends without writing a single line of server-side code.
        a.button.tiny href="/docs/api/http.html" Learn more &raquo;

      .large-4.columns.block
        i.fa.fa-search.bordered
        h3 Powerful Query Language
        p A SQL-like query language designed for working with time series and analytics. Create and run queries without needing a programmer around.
        a.button.tiny href="/docs/query_language" Learn more &raquo;

      .large-4.columns.block
        i.fa.fa-bar-chart-o.bordered
        h3 Built-in Explorer
        p InfluxDB ships with a built-in interface for querying and visualizing your data. You can manage databases, users, and permissions, too.
        a.button.tiny href="/docs/interfaces" Learn more &raquo;

section.newsletter
  .row
    .large-8.push-2.columns
      h3 Subscribe to our newsletter for updates!
      form action="http://errplane.us5.list-manage.com/subscribe/post?u=4d17b6adac2728b1ea6e4926b&amp;id=08af34971b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
        .row.collapse
          .small-10.columns
            input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
          .small-2.columns
            input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button postfix"
